version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: people-postgres
    environment:
      POSTGRES_DB: peopledb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: people-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/realm.json
    ports:
      - "8180:8080"
    depends_on:
      - postgres
    command: start-dev
    volumes:
      - ./keycloak-realm.json:/opt/keycloak/data/import/realm.json:ro

volumes:
  postgres_data:
